*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #D2E1E6, #C1E3ED);
}

.page-heading{
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
}

.controller{
    display: flex;
    margin-top: 50px;
    width: 100%;
    padding: 0 10%;
    justify-content: center;
    gap: 16px;
}

.controller input{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #D2E1E6;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.8),
    inset 2px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 2px 10px;
    border: 2px solid transparent;
    font-size: larger;
}
.controller input:focus {
    outline: none;
}

.controller button{
    width: 20%;
    height: 50px;
    border-radius: 9999px;
    border: none;
    color: #323538;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: #D2E1E6;
    font-size: larger;
    transition: all 0.2s ease;
}
.controller button:hover {
    cursor: pointer;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
        1px 1px 5px rgba(0, 0, 0, 0.3);
}

.controller button:active {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.6),
        inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.todo-container{
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;

}

.container-items{
    display: flex;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    background-color: #D2E1E6;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8),
        3px 3px 5px rgba(0, 0, 0, 0.25);
    color: black;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}

.hide-element{
    display: none;
}

.delete-button{
    background: none;
    border-radius: 30px;
    border: none;
    transition: all 0.2s ease;
    width: 80px;
    height: 30px;
    background-color: #D2E1E6;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.25);
}
.delete-button:hover {
    cursor: pointer;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
        1px 1px 5px rgba(0, 0, 0, 0.3);
}
.delete-button:active {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.6),
        inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}